@model CreateRoleViewModel
@{
    ViewData["Title"] = "CreateRole";
}

<h1>Create Roles</h1>

<form asp-action="CreateRole" method="post">
    <div asp-validation-summary="All" class="text-danger">
        <table class=" table table-bordered table-striped">
            <tr>
                <td>
                    <label asp-for="RoleName"></label>
                </td>
                <td>
                    <input asp-for="RoleName" class="form-control" />
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" class="btn btn-success" />
                </td>
            </tr>



        </table>

    </div>


</form>