@model EditRoleViewModel
@{
    ViewData["Title"] = "EditRole";
}

<h1>Edit Role</h1>

<form asp-action="EditRole" method="post">
    <div asp-validation-summary="All" class="text-danger">

        <input type="hidden" asp-for="RoleId" />

        <table class="table table-bordered table-striped">

            <tr>
                <td>
                    <label asp-for="RoleName"></label>
                </td>
                <td>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </td>
            </tr>


            <tr>
                <td colspan="2">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-action="RolesList" class="btn btn-warning">Cancel</a>
                </td>
            </tr>


        </table>

    </div>
</form>
