@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "RolesList";
}

<h1>Roles List</h1>

@if (!Model.Any())
{
    <div class="alert alert-warning">
        No Roles in this list
        <a asp-action="CreateRole" class="btn-outline-primary">Create Role</a>
    </div>
}
else
{
    @foreach (var role in Model)
    {
        <div class="card">
            <div class="card-title">
                Role ID : @role.Id
            </div>

            <div class="card-title">
                Role Name : @role.Name
            </div>

            <div class="card-footer">
                <a asp-action="EditRole"
                   asp-controller="Account"
                   asp-route-id="@role.Id"
                   class="btn btn-warning"> Edit </a>
            </div>

            <div class="card-footer">
                <a asp-action="DeleteRole"
                   asp-controller="Account"
                   asp-route-id="@role.Id"
                   class="btn btn-danger"> Delete </a>
            </div>


        </div>


    }

}


